<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>公司邀请</title>
	<link rel="stylesheet" href="/personal/css/myMsg.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="/css/edua-icons.css">
	<style>
		.preview a{
			text-decoration: none;
		}
		.preview i{
			padding-right:5px;
		}
		td span.btn{
			margin-left:5px;
		}
		td{
			max-width:250px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			word-break:keep-all;
		}
	</style>
</head>
<body>
<div class="msg-center-inform-box">
	<div class="msg-center-inform-con">
		<!--用bootstrap的表格展示即可-->
		<table id="my-resume"></table>
	</div>
</div>

<script type="text/javascript" src="/personal/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>
<script>

    dynamicTable = $("#my-resume").bootstrapTable({
        url: "/get/welcome-company",
        striped: true,
        pagination: true,
        singleSelect: true,
        clickToSelect: true,
        showColumns:true,
        pageNumber:1,
        pageSize: 10,
        pageList: [5, 10, 20],
        sidePagination: "server",
        queryParamsType: "",
        search: true,
        queryParams: function getPageMessage(params){
            let temp={
                pageSize: params.pageSize,
                pageNumber: params.pageNumber,
                searchText:params.searchText
            };
            return temp;
        },
        minimunCountColumns: 2,
        height:$(window).height()*0.85,
		onLoadSuccess:function(data){
			$('span.agreeToWelcome').on('click',function (object) {
			    let welcomeId = $(this).attr('data-id');
			    $.get('/agree-welcome/'+welcomeId,function (data) {
					data = JSON.parse(data);
					if(data.errorCode=='00'){
                        window.top.showToastr(0,"已同意该公司的邀请");
                        $('#my-resume').bootstrapTable('refresh');
					}else{
                        window.top.showToastr(2,"未知错误");
					}
                }).error(function () {
					window.top.showToastr(2,"未知错误");
                });
			});
			$('span.rejectToWelcome').on('click',function (object) {
                let welcomeId = $(this).attr('data-id');
                $.get('/reject-welcome/'+welcomeId,function (data) {
                    data = JSON.parse(data);
                    if(data.errorCode=='00'){
                        window.top.showToastr(0,"已拒绝该公司的邀请");
                        $('#my-resume').bootstrapTable('refresh');
                    }else{
                        window.top.showToastr(2,"未知错误");
                    }
                }).error(function () {
                    window.top.showToastr(2,"未知错误");
                });
			})
		},
        columns:[{
            field:"companyName",
            title:"邀请公司",
            align: "center",
            formatter:function (v,r,i) {
                return '<a target="_blank" href="/working/'+r.companyId+'/"><span>'+v+'</span></a>'
            }

        },{
            field:"title",
            title:"招聘标题",
            align: "center",
            formatter:function (v,r,i) {
                return '<a target="_blank" href="/working/'+r.companyId+'/job/'+r.employId+'/"><span>'+v+'</span></a>'
            }
        },{
            field:"inviteTime",
            title:"邀请时间",
            align: "center",
            formatter: function(v){
                return "<span>"+v+"</span>";
            }
        },{
            field:"status",
            title:"邀约状态",
            align: "center",
            formatter: function(v,r,i){
                //0未读，1同意，2拒绝
                if(v==1){//已同意
                    return "<span class='btn btn-default btn-xs' disabled='true'>已同意</span>";
				}
				if(v==2)
                    return "<span class='btn btn-default btn-xs' disabled='true'>已拒绝</span>";
                return "<span data-id='"+r.id+"' class='btn btn-success btn-xs agreeToWelcome'>同意</span>" +
					"<span data-id='"+r.id+"' class='btn btn-danger btn-xs rejectToWelcome'>拒绝</span>";
            }
        }]
    });
</script>
</body>
</html>