<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>我的消息</title>
<link rel="stylesheet" href="/personal/css/myMsg.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="/css/edua-icons.css">
	<style>
		#my-resume td a{
			text-decoration: none;
		}
		.preview i{
			padding-right:5px;
		}
		td{
			max-width:250px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			word-break:keep-all;
		}
	</style>
</head>
<body>
	<div class="msg-center-inform-box">
		<div class="msg-center-inform-con">
			<!--用bootstrap的表格展示即可-->
			<table id="my-resume"></table>
		</div>
	</div>

	<script type="text/javascript" src="/personal/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>
	<script>

        dynamicTable = $("#my-resume").bootstrapTable({
            url: "/get/my-resume",
            striped: true,
            pagination: true,
            singleSelect: true,
            clickToSelect: true,
			showColumns:true,
            pageNumber:1,
            pageSize: 10,
            pageList: [5, 10, 20],
            sidePagination: "server",
            queryParamsType: "",
            search: true,
            queryParams: function getPageMessage(params){
                let temp={
                    pageSize: params.pageSize,
                    pageNumber: params.pageNumber,
                    searchText:params.searchText
                };
                return temp;
            },
            minimunCountColumns: 2,
            height:$(window).height()*0.85,
            columns:[{
                field:"companyName",
                title:"目标公司",
                align: "center",
                formatter:function (v,r,i) {
					return '<a target="_blank" href="/working/'+r.companyId+'/"><span>'+v+'</span></a>'
                }
            },{
                field:"title",
                title:"招聘标题",
                align: "center",
				formatter:function (v,r,i) {
                    return '<a target="_blank" href="/working/'+r.companyId+'/job/'+r.employId+'/"><span>'+v+'</span></a>'
                }
            },{
                field:"lastEditTime",
                title:"状态更新时间",
                align: "center",
                formatter: function(v){
                    return "<span>"+v+"</span>";
                }
            },{
                field:"status",
                title:"简历状态",
                align: "center",
                formatter: function(v,r,i){
                    switch(v){
						case 0:return "<div class='btn-group'>"+
                        "<span class='label label-primary'>待审核</span>"+
                        "</div>";
						case 1:return "<div class='btn-group'>"+
                            "<span class='label label-success'>已通过</span>"+
                            "</div>";
						case 2:return "<div class='btn-group'>"+
                            "<span class='label label-danger'>已拒绝</span>"+
                            "</div>";
					}
					return '';
                }
            },{
                field:"preview",
                title:"预览简历",
                align: "center",
				formatter:function (v,r,i) {
                    return '<span class="preview"><a href="/resume/preview/employ/'+r.resumeId
                    +'" target="_blank"><i class="icon icon-eye"></i>预览</a></span>\n'
                }
            }]
        });
	</script>
</body>
</html>