<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>系统消息</title>
<link rel="stylesheet" href="/personal/css/myMsg.css" />

</head>
<body>
	<div class="msg-center-inform-box">
		<div class="msg-center-inform-con">
			<p class="msg-center-num-results">
				<span class="msg-show-results active" style="margin-right: 20px;">全部消息<em>(5)</em></span>
				<span class="msg-show-results active" >未读消息<em>(4)</em></span>
				<!-- <i class="divide">|</i><span>未读消息<em>(123)</em></span> -->
			</p>
	<ul class="list">
		<li class="item">
			<div class="clearfix">
				<p class="msg-center-info-detail fl ">
					恭喜你已成功报名<a target="_blank" class="link"
						href="https://www.saikr.com/neccs/usst/2019">2019年全国大学生英语竞赛上海理工大学分赛区</a>，关注竞赛动态更利于顺利参赛哦！（报名如需审核，请等待主办方审核结果），更多详情请登录赛氪官网查询http://www.saikr.com
				</p>
			</div>
			<p class="clearfix bottom-hint-msg">
				<span class="pub-time fl">2019-03-02 11:33:43</span> <span
					class="delete fr js_del_msg" action-method="post"
					action-url="/un/l/dn" action-data='{"id":"4398352"}'>删&nbsp;除</span>
			</p>
		</li>
		<li class="item">
			<div class="clearfix">
				<p class="msg-center-info-detail fl ">
					您参加的<a target="_blank" class="link"
						href="https://www.saikr.com/neccs/usst/2018">2018年全国大学生英语竞赛上海理工大学分赛区</a>给您发来了准考证，请到<a
						class="link" href="/ce/ct/35356" target="_blank">报名信息</a>页面下载。
					<!-- 你的文章<a href="#" class="link">算法递归</a>太棒了，被<a href="#" class="link">琪琪</a>收藏了哦！-->
				</p>
			</div>
			<p class="clearfix bottom-hint-msg">
				<span class="pub-time fl">2018-03-28 16:25:01</span> <span
					class="delete fr js_del_msg" action-method="post"
					action-url="/un/l/dn" action-data='{"id":"3350002"}'>删&nbsp;除</span>
			</p>
		</li>
	</ul>
		</div>
	</div>
</body>
</html>