<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.worknet.common.persistence.affair.employment.dao.CompanyCvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.worknet.common.persistence.template.modal.CompanyCv">
        <id column="id" property="id" />
        <result column="company_profession_id" property="companyProfessionId" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="birth" property="birth" />
        <result column="native_place" property="nativePlace" />
        <result column="identity" property="identity" />
        <result column="qualification" property="qualification" />
        <result column="specialty" property="speciality" />
        <result column="university" property="university" />
        <result column="tel" property="tel" />
        <result column="experience" property="experience" />
        <result column="mailbox" property="mailbox" />
        <result column="introduction" property="introduction" />
        <result column="diploma" property="diploma" />
        <result column="current_location" property="currentLocation" />
        <result column="in_job_time" property="inJobTime" />
        <result column="head_path" property="headPath" />
        <result column="status" property="status" />
        <result column="last_edit_time" property="lastEditTime" />
    </resultMap>

</mapper>
