<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.worknet.common.persistence.affair.course.dao.CourseContestQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.worknet.common.persistence.template.modal.CourseContestQuestion">
        <id column="id" property="id" />
        <result column="contest_question_id" property="contestQuestionId" />
        <result column="correct_option_id" property="correctOptionId" />
        <result column="question_content" property="questionContent" />
    </resultMap>

</mapper>
