<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.worknet.common.persistence.affair.user.dao.LearnerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.worknet.common.persistence.template.modal.LearnerInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="realname" property="realname" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="signature" property="signature" />
        <result column="vacation" property="vacation" />
        <result column="github" property="github" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="hobby" property="hobby" />
        <result column="professional" property="professional" />
        <result column="learner_cv_id" property="learnerCvId" />
    </resultMap>

</mapper>
