<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.worknet.common.persistence.affair.message.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.worknet.common.persistence.template.modal.Message">
        <id column="id" property="id" />
        <result column="sender_id" property="senderId" />
        <result column="receiver_id" property="receiverId" />
        <result column="send_time" property="sendTime" />
        <result column="message_content" property="messageContent" />
        <result column="readed" property="readed" />
        <result column="type" property="type" />
    </resultMap>

</mapper>
