<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/personal/css/myMsg.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="/css/edua-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.css">
    <style>
        span a i{
            padding-right:3px;
        }
        #stu-account td{
            max-width:90px;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
            word-break:keep-all;
        }
        #stu-account .operate{
            margin-right:5px;
            text-decoration:none;
            cursor:pointer;
        }
        #stu-account .operate:hover{
            color:#00145d;
            text-shadow:1px 1px #00000061;
        }
    </style>
</head>
<body>
<div class='main'>
    <table id="stu-account"></table>
</div>

<script type="text/javascript" src="/personal/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script>
    $('.main').height($(window).height());
    var employInfo;
    dynamicTable = $("#stu-account").bootstrapTable({
        url: "/admin/get/com-employ",
        striped: true,
        pagination: true,
        singleSelect: true,
        clickToSelect: true,
        showColumns:true,
        pageNumber:1,
        pageSize: 10,
        pageList: [5, 10, 20],
        sidePagination: "server",
        queryParamsType: "",
        search: true,
        queryParams: function getPageMessage(params){
            let temp={
                pageSize: params.pageSize,
                pageNumber: params.pageNumber,
                searchText:params.searchText
            };
            return temp;
        },
        minimunCountColumns: 2,
        height:$(window).height()*0.85,
        onLoadSuccess:function(data){
            $('a.end-employ').on('click',function (object) {
                let id = parseInt($(this).attr('data-id'));
                $.get('/company/end/employ/'+id,function (data) {
                    data = JSON.parse(data);
                    if(data.errorCode=="00"){
                        window.top.showToastr(0,"已关闭该招聘信息");
                        $('#stu-account').bootstrapTable("refresh");
                    }else{
                        window.top.showToastr(2,"未知错误");
                    }
                }).error(function () {
                    window.top.showToastr(2,"未知错误");
                });
            });
            $('a.edit-employ').on('click',function (object) {
                $('input').val('');
                $('textarea').val('');
                employInfo = JSON.parse($(this).attr('data-json'));
                if(employInfo.isPractice==1)
                    $('#isPractice').attr('checked','true');
                else
                    $('#practice-group').slideUp();
                //出现一个modal
                $('#change-info').html('确认修改');
                $('#myModal').modal('show');
            });
            $('.search-input').attr('placeholder',"搜索标题/简介/需求");
        },
        columns:[{
            field:"companyId",
            title:"公司id",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"companyName",
            title:"公司",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"title",
            title:"招聘标题",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"salary",
            title:"薪酬",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"location",
            title:"就职地点",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"professionType",
            title:"职位分类",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"introduction",
            title:"简介",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"requirement",
            title:"需求",
            align: "center",
            formatter:function (v,r,i) {
                return "<span title='"+v+"'>"+v+"</span>";
            }
        },{
            field:"isPractice",
            title:"是否实习",
            align: "center",
            formatter:function (v,r,i) {
                switch(v){
                    case false:return "<span>否</span>";
                    case true:return "<span>是</span>";
                }
                return '';
            }
        },{
            field:"duration",
            title:"实习时间",
            align: "center",
            formatter:function (v,r,i) {
                switch(r.isPractice){
                    case false:return "<span>-</span>";
                    case true:return "<span title='"+v+"'>"+v+"</span>";
                }
                return '';
            }
        },{
            field:"chanceToFormal",
            title:"转正机会",
            align: "center",
            formatter:function (v,r,i) {
                if(!r.isPractice){
                    return "<span>-</span>";
                }
                return "<span>"+v+"</span>"
            }
        },{
            field:"state",
            title:"招聘状态",
            align: "center",
            formatter:function (v,r,i) {
                switch(v){
                    case 1:return "<div class='btn-group'>"+
                        "<span class='label label-success'>进行中</span>"+
                        "</div>";
                    case 0:return "<div class='btn-group'>"+
                        "<span class='label label-danger'>已结束</span>"+
                        "</div>";
                }
                return '';
            }
        },{
            field:"operate",
            title:"快捷操作",
            align: "center",
            formatter:function (v,r,i) {
                return "<a href='/working/"+r.companyId+"/job/"+r.id+"/' target='_blank'" +
                    " class='jump-employ operate'><i class='icon icon-link' title='跳转页面'></i>跳转</a>";
            }
        }]
    });

</script>
</body>
</html>