<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Courses</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/edua-icons.css">
<link rel="stylesheet" type="text/css" href="/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/css/owl.transitions.css">
<link rel="stylesheet" type="text/css" href="/css/cubeportfolio.min.css">
<link rel="stylesheet" type="text/css" href="/css/settings.css">
<link rel="stylesheet" type="text/css" href="/css/bootsnav.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/loader.css">

  <link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css" rel="stylesheet">
<link rel="icon" href="/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/css/condition/style.css">
  <style>
    p.course-abstract {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    }

    .total-page{
      font-size: .8em;
    }
    .total-page::before{
      content: '共 ';
    }
    .total-page::after{
      content: ' 页';
    }
    .page-off{
      margin-left: 30px;
    }
    .page-item{
      padding: 2px 5px;
      margin:10px;
      transition: all .2s;
      cursor: pointer;
      color:black;
    }
    .page-item:hover{
      color: #1ec9ff;
    }
    .page-ellipsis::after{
      content: '...';
    }
    .this-page{
      margin:10px;
      color: #c2ebf0;
      padding: 2px 5px;
      background: #51514f;
    }
    .paging-box{
      font-size: 1.5em;
      margin: 80px 30px;
    }
  </style>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--Loader-->
<div class="loader">
  <div class="bouncybox">
      <div class="bouncy"></div>
    </div>
</div>



<script type="text/javascript" src="/js/header.js"></script>

<!--Search-->
<div id="search">
  <button type="button" class="close">×</button>
  <form>
    <input type="search" value="" placeholder="Search here...."  required/>
    <button type="submit" class="btn btn_common blue">Search</button>
  </form>
</div>



<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>课程检索</h1>
        <p>搜索你最需要的课程</p>
        <div class="page_nav">
      <span>你的位置:</span> <a href="/index">首页</a> <span><i class="fa fa-angle-double-right"></i>课程检索</span>
      </div>
      </div>
    </div>
  </div>
</section>
<!--Page Header-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12  page-content">
        <ul class="select">
          <li class="select-list">
            <dl id="select1">
              <dt>综合排序：</dt>
              <dd class="select-all selected"><a href="javascript:;">全部</a></dd>
              <dd><a data-key="new" href="javascript:;">最新发布</a></dd>
              <dd><a data-key="star" href="javascript:;">最高评分</a></dd>
              <dd><a data-key="most" href="javascript:;">最多学习</a></dd>
            </dl>
            <dl>
              <dt>关键字：</dt>
              <dd><input type="text" id="keyword"> <span class="btn btn-default search-keyword">搜索</span></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>


<!-- Courses -->
<section id="course_all" class="padding-bottom">
  <div class="container">

    </div>
</section>
<!-- Courses ends -->

<section>
  <div class="paging-box">
    <span class="total-page">20</span>
  </div>
</section>
<script type="text/javascript" src="/js/footer.js"></script>

<script src="/js/jquery-2.2.3.js"></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/jquery-countTo.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.cubeportfolio.min.js"></script>
<script src="/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/jquery.themepunch.revolution.min.js"></script>
<script src="/js/revolution.extension.layeranimation.min.js"></script>
<script src="/js/revolution.extension.navigation.min.js"></script>
<script src="/js/revolution.extension.parallax.min.js"></script>
<script src="/js/revolution.extension.slideanims.min.js"></script>
<script src="/js/revolution.extension.video.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/functions.js"></script>

<script type="text/javascript" src="/js/condition/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/condition/script.js"></script>

<script>
    var $div = $('#course_all').find('div.container');
    var courseFilter = {page:1};//点击上方的筛选框需要改变本变量
    //opt.cid:课程的id
    //opt.title:课程标题
    //opt.abstract:课程简介
    //opt.teacherName:教师名称
    //opt.teacherId:教师id
    //opt.startTime:课程开设时间
    function getDiv(opt) {
        return $('\n' +
            '      <div class="col-sm-6 col-md-4">\n' +
            '        <div class="course margin_top wow fadeIn" data-wow-delay="400ms">\n' +
            '          <div class="image bottom25" style="height: 235px;width: 360px;">\n' +
            '            <img src="/get/course/view/'+opt.cid+'" alt="Course" width="360" height="235" class="border_radius">\n' +
            '          </div>\n' +
            '          <h3 class="bottom10"><a href="/course/'+opt.cid+'/">'+opt.title+'</a></h3>\n' +
            '          <ul class="comment margin10">\n' +
            '            <li><a href="/info/teacher/'+opt.teacherId+'"><i class="icon-user5"></i>'+opt.teacherName+'</a></li>\n' +
            '            <li>'+opt.startTime+'</li>\n' +
            '          </ul>\n' +
            '          <p class="bottom20 course-abstract">'+opt.abstract+'</p>\n' +
            '          <a class="btn_common yellow border_radius" href="/course/'+opt.cid+'/">了解详情</a>\n' +
            '        </div>\n' +
            '      </div>');
    }
    //data是list
    function showResult(data) {
        $div.empty();
        for(let i = 0; i < data.length; i+=3){
            let $$div = $('<div class="row"></div>');
            for(let j = 0; j+i < data.length && j<3; j++){
                let item = data[i+j];
                let $$$div = getDiv({
                    cid:item.cid,
                    title:item.title,
                    abstract:item.abstract,
                    teacherName:item.teacherName,
                    teacherId:item.teacherId,
                    startTime:item.startTime
                });
                $$div.append($$$div);
            }
            $div.append($$div);
        }
    }
    function changePageBox(curPage) {
        if(curPage === undefined)
            curPage = 1;
        else curPage = parseInt(curPage);
        $('.total-page').each(function () {
            let tot = $(this).html();
            $(this).siblings().remove();
            let $span = $('<span class="page-off"></span>');
            $span.append('<input type="hidden" class="cur-page" value="'+curPage+'">');
            if(tot>10){//要根据当前页来划分
                for(let i = 1; i <= 6; i++){
                    if(i===curPage)
                        $span.append('<span class="this-page">'+i+'</span>');
                    else
                        $span.append('<span class="page-item">'+i+'</span>');
                }
                if(curPage<=8){
                    for(let i = 7; i <= 9; i++){
                        if(i===curPage)
                            $span.append('<span class="this-page">'+i+'</span>');
                        else
                            $span.append('<span class="page-item">'+i+'</span>');
                    }
                    $span.append('<span class="page-ellipsis"></span>');
                    $span.append('<span class="page-item">'+tot+'</span>');
                }else if(curPage<=tot-1){
                    $span.append('<span class="page-ellipsis"></span>');
                    $span.append('<span class="page-item">'+(curPage-1)+'</span>');
                    $span.append('<span class="this-page">'+(curPage)+'</span>');
                    $span.append('<span class="page-item">'+(curPage+1)+'</span>');
                    if(curPage+1<tot-1)
                        $span.append('<span class="page-ellipsis"></span>');
                    if(curPage+1<tot)
                        $span.append('<span class="page-item">'+tot+'</span>');
                }else{
                    $span.append('<span class="page-item">'+7+'</span>');
                    $span.append('<span class="page-item">'+8+'</span>');
                    $span.append('<span class="page-ellipsis"></span>');
                    $span.append('<span class="page-item">'+(tot-1)+'</span>');
                    $span.append('<span class="this-page">'+tot+'</span>');
                }
            }else{
                for(let i = 1; i <= tot; i++){
                    if(i===curPage)
                        $span.append('<span class="this-page">'+i+'</span>');
                    else
                        $span.append('<span class="page-item">'+i+'</span>');
                }
            }
            $span.find('.page-item').on('click',function () {
                let targetPage = parseInt($(this).html());
                courseFilter.page = targetPage;//其余参数不变
                getCourseByFilter(courseFilter);
                console.log("courseFilter:");
                console.log(courseFilter);
            });//完成初始化，点击就ajax获取
            $(this).after($span);//添加节点
        });
    }
    //opt.page:页码
    //opt.order:排序方式
    //opt.field:领域
    function getCourseByFilter(opt) {
        $.get('/get/courses',opt,function (data) {
            data = JSON.parse(data);
            if(data.errorCode==='00'){
                let pager = data.returnObject;
                //需要针对pager返回的总页码来分页
                //返回总条数
                let totalPage = Math.ceil(pager.pages);//一页9条
                $('.total-page').html(totalPage);
                showResult(pager.records);
            }else if (data.errorCode==='too_long'){
                toastr.error('内容过长，超过255个字符！');
            } else{
                toastr.warning('未知错误');
            }
            changePageBox(opt.page);
        }).error(function () {
            toastr.warning('未知错误');
        });
    }
    $('.search-keyword').on('click',function (object) {
        courseFilter.keyword = $('#keyword').val();
        getCourseByFilter(courseFilter);
    });
</script>

<script type="text/javascript">
$(document).ready(function(){

	$("#select1 dd").click(function () {
		$(this).addClass("selected").siblings().removeClass("selected");
		if ($(this).hasClass("select-all")) {
			$("#selectA").remove();
			courseFilter.order = null;//默认为空
		} else {
			var copyThisA = $(this).clone();
			if ($("#selectA").length > 0) {
				$("#selectA a").html($(this).text());
			} else {
				$(".select-result dl").append(copyThisA.attr("id", "selectA"));
			}
			courseFilter.order = $(this).find('a').attr('data-key');
		}
		// console.log(courseFilter);
		getCourseByFilter(courseFilter);
	});


	$("#selectA").live("click", function () {
		$(this).remove();
		$("#select1 .select-all").addClass("selected").siblings().removeClass("selected");
	});

	$("#selectB").live("click", function () {
		$(this).remove();
		$("#select2 .select-all").addClass("selected").siblings().removeClass("selected");
	});

	$("#selectC").live("click", function () {
		$(this).remove();
		$("#select3 .select-all").addClass("selected").siblings().removeClass("selected");
	});

  $("#selectD").live("click", function () {
    $(this).remove();
    $("#select4 .select-all").addClass("selected").siblings().removeClass("selected");
  });

	$(".select dd").live("click", function () {
		if ($(".select-result dd").length > 1) {
			$(".select-no").hide();
		} else {
			$(".select-no").show();
		}
	});
    getCourseByFilter(courseFilter);

});</script>

</body>
</html>
